<section class="card">
    <div class="card-body">
        <h1>About Us</h1>
        <p>
            This online store of personalized products is charming. The description of your products is unique and concentrates your creativity in a friendly language.
        </p>
    </div>
</section>