 
<div class="container">
  <!-- Footer -->
  <footer class="text-center text-white fixed-bottom" style="background-color: #0a4275;">
    <!-- Grid container -->
    
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright: Ing. Jordan Delgado
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>